/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* FONT END */
:root {
    --gray: #333333;
    --light-gray: #828282;
    --white: #000
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    padding: 2em 4em;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    border: 2px dashed #f1a20e;
    padding: 1px 5px;
    border-radius: 10px;
}

.header-form {
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 6px #0000001a;
    border-radius: 16px;
    padding: 1em 2em;
    gap: 10px;
}

input[type=text] {
    width: 8em;
    text-align: center;
    border: none;
    opacity: 0.6;
}
input[type=text]:focus{
    accent-color: #d13809;
}

.fa-magnifying-glass {
    color: red;
    cursor: pointer;
}

/* Grid-title */
article {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.grid-title {
    margin-top: 5em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* GALLERY general */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.gallery .picture {
    max-width: 24.8em;
    border-radius: 20px;
}

.rating i {
    color: red;
    margin-right: 5px;
}

.quote {
    font-weight: bold;
}

/* CARD ADV */
.card-advanced {
    display: flex;
    flex-direction: column;
}

.desc-adv {
    display: flex;
    flex-direction: column;
    /* outline: red solid 1px; */
    gap: 10px;
    margin-top: 1em;
}

.desc-adv .tag {
    font-weight: bold;
}

.metadata-adv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.metadata-adv .tag {
    border: 1px var(--gray) solid;
    border-radius: 10px;
    padding: 2px;
}

.metadata-adv :nth-child(2) {
    color: var(--gray);
    font-size: 13px;
}

.rating {
    display: flex;
}

/* CARD */
.card {
    display: flex;
    flex-direction: column;
}

.card .desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    /* outline: green solid 1px; */
    gap: 10px;
    margin-top: 1em;
}

.desc .metadata {
    display: flex;
    justify-content: space-between;
    /* to align desc-adv with desc horizontaly */
    padding: 2px;
}

.metadata p {
    color: var(--gray);
    font-size: 15px;
}

        /*RESPONSIVE AREA*/

/* Mobile Layout A52 Only? */
@media screen and (min-width:401px) and (max-width:768px){
   
    main{
    padding: 2em;
    }
    /* HEADER */
    header {
        flex-direction: column;
    }
    header > *{
        margin: 10px 0;
    }
    /* GRID TITLE */
    article{
        align-items: center;
    }
    .grid-title {
        margin-top: 1em;
        flex-direction: column;
    }
    /* GALLERY */
    .gallery {
        grid-template-columns: 1fr;
        gap: 3em;
    }
    .gallery .picture{
        max-width: 23em;
    }
}

@media screen and (max-width:400px){
    main{
     padding: 2em;
    }
     /* HEADER */
     header {
         flex-direction: column;
     }
     header > *{
         margin: 10px 0;
     }
     /* GRID TITLE */
     article{
         align-items: center;
     }
     .grid-title {
         margin-top: 1em;
         flex-direction: column;
     }
     /* GALLERY */
     .gallery {
         grid-template-columns: 1fr;
         gap: 2em;
     }
     .gallery .picture{
         max-width: 15em;
     }
     .card-advanced{
        align-items: center;
     }
     .desc-adv{
        width: 15em;
     }
     .metadata-adv .tag{
        text-align: center;
        font-size: 9px;
     }
     .quote{
        text-align: center;
     }
     /* regular card */
     .card{
        align-items: center;
     }
     .desc{
        width: 15em;
     }
 }